<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies List</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="app.js" defer type="module"></script> -->
    <link rel="icon" href="/images/popcorn.png" type="image/icon type">
</head>
<body>
    <div class="header-line">
        <img src="/images/popcorn.png">
        <div class="logo" style="vertical-align:baseline;">
            <a href="/">Movies List</a>
        </div>
        <div class="logo" style="font-size: 1em; font-weight:normal; ">
            A Vanilla Javascript & Node-JS Project
        </div>
        <ul class="navigation">
            <!-- <li><a href="#">Sample List View</a></li>
            <li><a href="#">Sample Gallary View</a></li> -->
            <li id="create-public-list-li"><a href="/" style="font-weight: bolder; cursor: pointer;">Create public (on-server) list</a></li>
            <!-- <li><a href="listCreation.html" style="font-weight: bolder;">Create public (on-server) list</a></li> -->
            <li><a href="/publicLists">Public Lists</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <div style="color:rgb(89, 111, 134);"><a href="http://roy-dev.com" style="text-decoration: none;">Created By Roy Yitzchak</a></div>
    </div>
    <div class="main-body">        
        <div class="movie-list">
            <hr>
            <div class="card">
                <img src="/images/404.png" alt="404" style="display: block; margin-left: auto;
                margin-right: auto;">
            </div>
            <hr>
        </div>
    </div>
</body>
</html>